.section{
    padding: 2rem;
    margin: 8rem auto;
}
.featuredText{
    margin: 4rem auto;
}
.featuredText h4{
    color: #737373;
    line-height: 2rem;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 1rem auto;
}
.featuredText h3{
    line-height: 2rem;
    font-size: 1.5rem;
    margin: 1rem auto;
}
.featuredText p{
    color: #737373;
    font-weight: 400;
    margin: 1rem auto;
    width: 30ch;
}
.iconServices{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.icon{
    color: #23A6F0;
}
.iconText p{
    width: 30ch;
}

@media screen and ( min-width:960px ){
    .section{
        padding: 3.5rem 7rem;
    }
    .featuredText p{
        width: auto;
    }
    .iconServices{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 4rem;
    }
}